@import 'constants/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&display=swap');

.profileImg {
  width: 25vh;
  height: 25vh;
  display: block;
  margin: 50px auto 0; 
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.tutor-name {
  margin-top: 10px;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.tutor-specialization {
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
  font-weight: lighter;
  font-size: 0.7rem;
  color: grey;
}

h3 {
  text-align: justify;
  font-family: 'Inria Sans', sans-serif;
  font-size: small;
  margin: 20px;
}

a.view-all-btn {
  margin-left: auto;
  font-family: 'Inria Sans', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 0.8rem;
  color: grey;

}

.section-title {
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 25px;
}

.left-bar-section {
  margin-top: 40px;
}

.app-icon-div{
  width: 60px; 
  height: 60px; 
  margin-left: 25px;
  border-radius: 30px; 
  align-items: center;
  overflow: hidden; 
  background-color:var(--primary_bar_color) ;
  display: grid;
  place-items: center;
}
.application-icon{
  width: 30px;
  height: 30px;
}

#app-name{
  font-family: 'Inria Sans', sans-serif;
  font-style: normal;
  margin-left: 20px;
  font-size: 12pt;
  align-self: center; 
  color: #474a4d;
}

@media (min-width: 992px) {
  .leftBar{
    background-color: var(--secondary_bar_color); 
  }
  h2 {
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.8rem;
    color: var(--primary_bar_color);
  }
}