.profileImg {
  width: 35dvw;
  height: 35dvw;
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 20px;
}

.styled-list {
  list-style-type: none;
  padding: 0;
}

.styled-list li {
  cursor: pointer;
  background-color: #f2f2f2;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden_item {
  display: none;

}
